<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.auth.mapper.PermissionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.framework.auth.pojo.entity.PermissionEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="perm" property="perm" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="sys_type" property="sysType" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="visible" property="visible" jdbcType="BIT" />
    <result column="cacheable" property="cacheable" jdbcType="BIT" />
    <result column="available" property="available" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, delete_flag, permission, url, perm, parent_id, sys_type, description, icon, order_num, 
    menu_type, create_time, update_time, visible, cacheable, available
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.framework.auth.pojo.entity.PermissionEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.framework.auth.pojo.entity.PermissionEntityExample" >
    delete from t_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.framework.auth.pojo.entity.PermissionEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_permission (delete_flag, permission, url, 
      perm, parent_id, sys_type, 
      description, icon, order_num, 
      menu_type, create_time, update_time, 
      visible, cacheable, available)
    values (#{deleteFlag,jdbcType=BIT}, #{permission,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{perm,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{sysType,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, 
      #{menuType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{visible,jdbcType=BIT}, #{cacheable,jdbcType=BIT}, #{available,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.framework.auth.pojo.entity.PermissionEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="perm != null" >
        perm,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="sysType != null" >
        sys_type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="visible != null" >
        visible,
      </if>
      <if test="cacheable != null" >
        cacheable,
      </if>
      <if test="available != null" >
        available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="perm != null" >
        #{perm,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sysType != null" >
        #{sysType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visible != null" >
        #{visible,jdbcType=BIT},
      </if>
      <if test="cacheable != null" >
        #{cacheable,jdbcType=BIT},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.framework.auth.pojo.entity.PermissionEntityExample" resultType="java.lang.Integer" >
    select count(*) from t_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_permission
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=BIT},
      </if>
      <if test="record.permission != null" >
        permission = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.perm != null" >
        perm = #{record.perm,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.sysType != null" >
        sys_type = #{record.sysType,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.menuType != null" >
        menu_type = #{record.menuType,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.visible != null" >
        visible = #{record.visible,jdbcType=BIT},
      </if>
      <if test="record.cacheable != null" >
        cacheable = #{record.cacheable,jdbcType=BIT},
      </if>
      <if test="record.available != null" >
        available = #{record.available,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_permission
    set id = #{record.id,jdbcType=INTEGER},
      delete_flag = #{record.deleteFlag,jdbcType=BIT},
      permission = #{record.permission,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      perm = #{record.perm,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      sys_type = #{record.sysType,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      menu_type = #{record.menuType,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      visible = #{record.visible,jdbcType=BIT},
      cacheable = #{record.cacheable,jdbcType=BIT},
      available = #{record.available,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.framework.auth.pojo.entity.PermissionEntity" >
    update t_permission
    <set >
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="perm != null" >
        perm = #{perm,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sysType != null" >
        sys_type = #{sysType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visible != null" >
        visible = #{visible,jdbcType=BIT},
      </if>
      <if test="cacheable != null" >
        cacheable = #{cacheable,jdbcType=BIT},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.framework.auth.pojo.entity.PermissionEntity" >
    update t_permission
    set delete_flag = #{deleteFlag,jdbcType=BIT},
      permission = #{permission,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      perm = #{perm,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sys_type = #{sysType,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      menu_type = #{menuType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      visible = #{visible,jdbcType=BIT},
      cacheable = #{cacheable,jdbcType=BIT},
      available = #{available,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.framework.auth.pojo.entity.PermissionEntityExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>